/* TODO 

Fiks bedre skalering overall 
Rett opp i at du kan velge middag så ska få items i seg
Fiks skaleringen på boksen i bredden og legden
Fiks input, at noen isje kan fucke opp
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #0a7a7a;
}

.start {
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
  color: rgba(36, 34, 34, 1);
}

header img {
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

header li {
  display: block;
  padding: 0;
  margin: 0;
}

.language {
  padding: 0;
  margin: 0;
  position: right;
  top: 0;
  left: 0;
  text-align: right;
}

.glass {
  background: white;
  min-height: 70vh;
  /* height: 100%; */
  width: 80%;
  /* min-width: 60%;
  max-width: 92%; */
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.3)
  );
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
}

.main {
  min-height: 83vh;
  background: linear-gradient(to right top, #0a7a7a, #0a7a7a8f);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.t1 {
  display: flex;
  justify-content: center;
  padding: 5px;
}

/* .tt1 {
  width: 100%;
  max-height: 100%; 
} */

.t2 {
  margin: 1% 1.5%;
  text-align: center;
  list-style-type: none;
  padding: 0;
  font-size: 30px;
  border: 2px solid black;
  width: 20%;
  /* height: 100%; */
  min-height: 20px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.t2 li {
  /* noe first stuff? li[0] border*/
  /* border-top: 0.5px solid rgba(0, 0, 0, 0.3); */
  margin: 0;
  padding: 0.1em 0;
  font-size: 20px;
}

#errorMessage {
  font-size: 15px;
  margin: 0;
  padding: 0;
  color: rgba(255, 0, 0, 0.603);
}

.buttonStuff {
  background-color: transparent;
  background-color: whitesmoke;
  cursor: pointer;
  color: black;
  border: 2px solid #070101d3;
  border-radius: 4px;
}

.butto {
  width: 30px;
  height: 25px;
  border-radius: 12px;
}

.selec {
  width: 40px;
  height: 25px;
}

.sear {
  width: 150px;
  height: 35px;
}

#x {
  width: 25px;
  height: 20px;
  margin-bottom: -5px;
  /* margin: 0; */
}

@media (max-width: 978px) {
  .t2 {
    margin: 1% 1.5%;
    text-align: center;
    list-style-type: none;
    padding: 1px 5px;
    font-size: 15px;
    border: 2px solid black;
    width: 40%;
    /* height: 100%; */
    min-height: 20px;
    box-sizing: border-box;
    margin-bottom: 5px;
  }

  .t2 li {
    font-size: 10px;
  }

  .glass {
    width: 90%;
  }
}
